@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  'GothamLight','GothamMedium',Arial, Helvetica, sans-serif;
}

/* .navbar-default{
  margin-right: 0px;
} */

@font-face{
  font-family:'GothamLight';
  src: url('/fonts/Gotham-Font/GothamLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'GothamBold';
  src: url('/fonts/Gotham-Font/GothamBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'GothamMedium';
  src: url('/fonts/Gotham-Font/GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3E6775 #DFE9EB;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3E6775;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;  /* Untuk Firefox */
}
