@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  'GothamLight','GothamMedium',Arial, Helvetica, sans-serif;
}

/* .navbar-default{
  margin-right: 0px;
} */

@font-face{
  font-family:'GothamLight';
  src: url('/fonts/Gotham-Font/GothamLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'GothamBold';
  src: url('/fonts/Gotham-Font/GothamBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'GothamMedium';
  src: url('/fonts/Gotham-Font/GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
